@model Plant_Management_System.Models.Propogation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Propogation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentPlantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentPlantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropogationMedium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropogationMedium)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PropogationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
