@model IEnumerable<Plant_Management_System.Models.Propagation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentPlant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropagationMedium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentPlant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStarted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropagationMedium)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropagationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropagationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropagationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
