@model Plant_Management_System.Models.Trade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingPlant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingPlant)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TradeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
